* {
    font-family: 'Futura PT', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: lightgray;
    text-align: center;
}

li a {
color: #000080;
}

.pics {
    float: right;
}